<!-- PWA -->
<script type="text/javascript" src="{{ url_for('layout.static', filename='js/pwa.js') }}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ url_for('layout.static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('layout.static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('layout.static', filename='js/bootstrap.min.js') }}"></script>

<!-- Custom -->
<script type="text/javascript" src="{{ url_for('layout.static', filename='js/index.js') }}"></script>
