{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4"><!-- empty space --></div>

    <div class="content-section col-md-4">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom md-4">{{ title }}</legend>

            <div class="form-group"> <!-- INPUT: title -->
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group"> <!-- SUBMIT BUTTON -->
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>

    <div class="col-md-4"><!-- empty space --></div>
</div>
{% endblock content %}
